h5 {
    position: relative;
    margin: 0 auto 20px;
    padding: 10px 40px;
    text-align: center;
    background-color: #c79851;
  }
  
  h5::before, h5::after {
    content: '';
    width: 60px;
    height: 100%;
    background-color: #c79851;
  
    /* position ribbon ends behind and slightly lower */
    position: absolute;
    z-index: -1;
    top: 20px;
    
    /* clip ribbon end shape */
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 25% 50%);
  
    /* draw and position the folded ribbon bit */
    background-image: linear-gradient(45deg, transparent 70%, #c79851 70%);
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-position: bottom right;
  }
  
  h5::before {
    left: -30px;
  }
  
  h5::after {
    right: -30px;
    transform: scaleX(-1); /* flip horizontally */
  }
  
  /* everything below is for demo appearances and not important to the concept */
  

  @media (max-width: 400px) {
    h5 { font-size: 1.5rem; }
  }
  
