
ul.list{
    position:relative;
    justify-self: center;
    margin:0;
    padding:0;
  }
  
  li.list-content{
  text-align:center;
  display:inline-block;
  list-style:none;
  position:relative;
  border:solid 12px #fff;
  background:#fff;
  box-shadow:0 0 15px 0px #555;
  transition:all 1s ease;
  -o-transition:all 1s ease;
  -moz-transition:all 1s ease;
  -webkit-transition:all 1s ease;
  top:50px;
  filter: grayscale(100%);
   
  }
  
  
  li.list-content:hover{
  top:0px;
  /* opacity:0.5; */
  filter:none;
  
  }
  
  li.list-content:nth-child(4n + 1){
    transform:rotate(10deg);
  }  

  li.list-content:nth-child(4n + 2){
    transform:rotate(-10deg);
  }

  p{
  margin:-15px 0 0 0;
  }
  
  .light{
  border-radius:50%;
  position:absolute;
  left:0;
  right:0;
  width:700px;
  height:700px;
  background: #fef9c3;
  filter:blur(100px);
  opacity:0.3;
  pointer-events:none;
  }