/* img {
    --s: 10px; 
    padding: var(--s);
    border: calc(2*var(--s)) solid #0000;
    outline: 1px solid #000;
    outline-offset: calc(-1*var(--s));
    background: conic-gradient(from 90deg at 1px 1px,#0000 25%,#000 0);
  } */
  
/*   
  .frame {
    margin:0;
    height:100vh;
    display:grid;
    place-content:center;
    background:pink;
  } */