.pointer {
  width: 200px;
  height: 40px;
  position: relative;
  background:  #c79851;
  color: #141826;
}
.pointer:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid #E8E8E8;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}
.pointer:before {
  content: "";
  position: absolute;
  right: -20px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid #c79851;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}
  
body {
  text-align: center;
}

.intro {
  color: #141826;
  display: block;
  font-family: 'Satisfy', cursive;
  font-size: 32px;
  text-shadow: 1px 1px black;
  transform: rotate(-10deg);
}

.intro--the {
  transform: rotate(-10deg) translate(-20px, 15px);
}

.intro--num {
 
  border: 3px dotted rgb(20, 60, 80);
  color: rgb(20, 60, 80);
  display: inline-block;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bolder;
  padding: 4px 6px 2px;
  position: absolute;
  text-shadow: none;
  transform: rotate(-10deg) translate(20px, -25px);
}

.vintage__container {
  display: inline-block;
  margin: 25px auto 40px;
  
}

.vintage {
  font-family: 'Six Caps', sans-serif;
  font-size: 192px;
  letter-spacing: 10px;
  line-height: 1;
  margin: 0;
  position: relative;
}
@media only screen and (max-width: 600px) {
  .vintage {
    font-size: 140px;
  }
}
.vintage__top {
  background: linear-gradient(#c79851, #212529);
  -webkit-background-clip: text;
  background-clip: text;
  position: absolute;
  z-index: 1;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}

.vintage__bot {
  text-shadow: 
    2px 1px rgb(85, 10, 0),
    4px 2px rgb(90, 15, 5),
    6px 4px rgb(100, 20, 15),
    8px 5px rgb(105, 25, 20),
    10px 6px rgb(110, 30, 25),
    12px 7px rgb(115, 30, 30),
    14px 8px rgb(120, 30, 35),
    16px 9px black,
    18px 10px black,
    20px 11px black,
    22px 12px black,
    24px 13px black,
    28px 14px rgba(0, 0, 0, 0.9),
    30px 15px rgba(0, 0, 0, 0.7),
    32px 16px rgba(0, 0, 0, 0.5),
    34px 17px rgba(0, 0, 0, 0.3),
    36px 18px rgba(0, 0, 0, 0.1),
    40px 20px rgba(0, 0, 0, 0.1);
}

.outro {
  color: #402a23;
  font-family: 'Satisfy', cursive;
  font-size: 16px;
}

.outro--big {
  font-family: sans-serif;
  font-size: 24px;
}

.outro--smart {
  display: block;
}

.container-card {
    padding: 15px;
    color: #212529; 
    border: 4px solid #212529;  
    box-shadow: 10px 10px;
  }

.heading{
  font-family: 'Six Caps', serif;
  /* font-size: 70px;
  font-weight: bold;
  letter-spacing: 5px;
 
  margin: 0; */
}