@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Satisfy', cursive;
  margin: 0; 
}

:root {
 
  background: #e6e6d8 url('https://dl.dropboxusercontent.com/s/t0gu051d08sei65/bg-retro-noise.png');
  color: #121212;
  /* background: radial-gradient(circle, 	#E8E8E8 0%, 	#E8E8E8 100%); */
}