
h3 {
  background-color:#c66; 
  width:200px; height:80px;
  line-height:80px;
  font-size:60px;
  text-align:center;
  position:relative;
  margin:100px auto;
  font-family: 'Patua One', cursive;
  color:#fff;
  }

h3:before, h3:after {
  background-color:#a44; 
  width:50px; height:80px;
  content:'';
  display:block; 
  transform:skewY(20deg);
  position:absolute;
  z-index:-1;
}

h3:before {top:10px; left:0; }
h3:after {top:-10px; right:0; }


